.result {
  // height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .trophy {
    width: 50vmin;
    margin-top: 2vw;
    // opacity: 0.8;
    animation: 1.5s ease 0s infinite beat;
  }

  input[type='radio']{
    display: none;
  }

  .fas.fa-star {
    cursor: pointer;
    transition: color 200ms;
    margin: 0 3px;
    transition: all .2s ease-in-out;
    &:hover{
      transform: scale(1.2);
    }
  }

  .fas.fa-sync-alt{
    position: absolute;
    right: 100px;
    bottom: 80px;
  }

}
