.round-known {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fade-in 5s;
  // padding-bottom: 5vh;

  img {
    height: 25vw;
    width: 25vw;
    border-radius: 16px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
