.mainNavbarGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftNavbarGroup {
  display: flex;
  align-items: center;
}

.rightNavbarGroup {
  display: flex;
  align-items: center;
}
